.title1{
    font-size: 34px;
    width: 100%;
    text-align: center;
    font-family: 'Raleway';
    letter-spacing: 1.4;
    margin-bottom: 4px;
}

.title2{
    font-size: 14px;
    width: 100%;
    text-align: center;
    color: rgba(255,255,255,0.6);
    font-family: 'Verdana';
}

.title_container{
    width: 600px;
    /* background: red; */
    margin: 10px auto;
}

.signup-form{
    margin-top: 0px;

}

.content_container{
    width: 700px;
    margin: 0 auto;
    margin-top: 40px;
    background: RGB(64, 68, 69);
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 3px;
    /* margin-top: 100px; */
}

.area_container{
    /* background: red; */
    margin: 20px 0;
}

.seperator{
    width: 80%;
    height: 2px;
    margin: 5px auto;
    background: rgba(255,255,255,0.5);
}

.sign_up_button{
    width: 200px;
    height: 40px;

    margin: 10px auto;
    margin-top: 20px;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: transform 0.5s;
}

.sign_up_button:hover{
    transform: translateY(-2px);
    background: rgba(255,255,255,0.3);
    cursor: pointer;
}

form{
    width: 100%;
    margin-top: 20px;
    display: flex; justify-content: center;
    align-items: center;
    flex-direction: column;
}

#input_code,#input_name {
    width: 300px;
    height: 40px;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    color: white;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.3);
    margin: 0 auto;

}

#input_name{
    padding-right: 40px;
}

.error{
    color: red;
    /* font-family: 'Raleway'; */
    text-align: center;
}

.input_arrow{
    position: absolute;
    transform: translateX(130px);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
    background: rgba(255,255,255,0.05);
}


@media(max-width: 920px){
    .content_container{
        width: calc(100% - 20px);
    }
}

@media(max-width: 800px){
    .title_container{
        width: calc(100% - 10px);
    }
}

@media(max-width: 410px){
    #input_code,#input_name{
        width: 250px;
    }
    .input_arrow{
        transform: translateX(105px);
    }
}

@media (max-height: 820px){
    /* .content_container{
        margin-top: 50px;
    } */
}

.content{
    height: calc((var(--vh, 1vh) * 100) - 180px);
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background: red; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.team_builder_bar .title{
    font-size: 30px !important;
}


.input_arrow:hover{
    cursor: pointer;

}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.363) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}

.content_container{
    overflow: hidden;
    position: relative;
}

.signup_guild_content{
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(100%,calc(-100%  + 10px));
    transition: 1s;
}

.signup_guild_content.active{
    transform: translate(-10px,calc(-100%  + 10px));
}

.starter_content{
    transition: 1s;
}

.starter_content.active{
    transform: translateX(-100%);
}


.guest_title{
    text-align: center;
    font-size: 25px;
    font-family: 'Raleway';
    width: 700px;
    margin: 20px auto;
    padding: 7px;
    /* border-inline: 1px solid rgba(255,255,255,0.4);
    background: rgba(255,255,255,0.1) */
}

.guest_container{
    width: 900px;
    height: calc((var(--vh, 1vh) * 100) - 240px);
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
}


.guest_profile{
    float: left;
    width: 200px;
    height: 300px;
    margin: 10px;
    transition: 0.5s;
}

.guest_profile:hover{
    cursor: pointer;
    transform: translateY(-3px);
}


.guest_img{
    height: 250px;
    width: 100%;
    overflow: hidden;
    border-inline: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid white;

} 
.guest_img img{
    height: 100%;
    filter: brightness(80%);
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.guest_profile:hover .guest_img img{
    filter: brightness(110%);
}


.guest_name{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: RGB(64, 68, 69);
    border-inline: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid white;
}


.profiles.hide{
    opacity: 0.4;
    filter: blur(3px) brightness(40%);
}

.profiles.hide .guest_profile{
    pointer-events: none;
}

.guest_container{
    position: relative;
}

.spinner{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);

}

@media(max-width: 1125px){
    .guest_container{
        width: 680px;
    }
}

@media(max-width: 885px){
    .guest_title{
        width: 100%;

    }
    .guest_container{
        width: 460px;
    }
}

@media(max-width: 600px){
    .guest_title{
        width: 100%;
        font-size: 20px;
        margin: 10 auto;
    }
    .guest_container{
        width: 240px;
    }
}